<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/static/style.css" type="text/css">


<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="tb">
<div class="container">
		{%extends "adminpanel.html" %}
		{% block body %}
	<h1 class="title">ADD NEW USER</h1>
<fieldset>

		<div class="container">
				<tr>
					<table class="icon-arrow" style="width:100%" align="center">
																	
								</tr>
									
								</tr>
								<tr>
									<td align="left">User Name:</td>	
								</tr>
									<tr>
										<td>
									<input v-model="message" name ="tbName"placeholder="ex: juan dela cruz">
										</td>
										
									</tr>

									<tr>
									<td align="left">Username:</td>
									
									</tr>
									<tr>
										<td>
											<input v-model="message" name="tbusername" placeholder="ex: username">
										</td>
									</tr>

									<tr>
											<td align="left">Password:</td>
											
											</tr>
											<tr>
												<td>
													<input v-model="message" name="tbpassword" placeholder="ex: password">
												</td>
											</tr>

									<tr>
											<td align="left">Confirm password:</td>
													
											</tr>
											<tr>
												<td>
													<input v-model="message" name="conpassword" placeholder="ex: password">
												</td>
											</tr>
												
									</tr>
									<tr>
										<td align="left">
											<input id="btnAdd" type="submit" value="Add">
										</td>
									
									</tr>
							</form>
						</table>
				</div>
				</fieldset>
			</table>

            <script  src="js/index.js"></script>
{% endblock %}
</div>
</div>
