<!DOCTYPE html>
{% block body %}
<html>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  
<head>
  <title>Home</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="autoCompleteSearchApp" align="center">

      <h1 align="center">TWO CLEAR </h1>
    
   
        
      <table class= "tb">
        
          
          <th align="right">{{register}}</th>
          <th align="center">{{view}}</th>
          
        
        <tr>
          <td align="left">Username: </td>
          <td></td>
          <td align="left">Search User: </td>
          </tr>
            <tr>
            <td align="left">
            <input type="text" name="tbUser">
          </td> 
          <td></td> 
          <td>
                        <form action="#" method="get">
                            <input list="selections" name="selection">
                            <datalist id="selections">
                                <dynamic-option v-for="user in users" v-bind:todo="user"></dynamic-option>
                    </datalist>
                  </form>
                </td>
          </tr>
          
      <tr>
        <td align="left" >
            Name: 
            </td>
            </tr>
            <tr>
              <td>
            <input v-model="message" placeholder="ex: juan dela cruz" name="tbName">
          </td>
          <td></td>
          <td align="left"><input type="submit"></td>
          </tr>
        
				
                
              
        
        <tr>
        <td align="left">Address:
        </td>
        <td></td>
        <td align="left">Username:
        </td>
        </tr>
        <tr>
          <td>
            <input v-model="message" placeholder="ex: general santos city"></td>
          </td>
          <td></td>
          <td><input v-model="message" name="tbUserView" readonly="true"></td>
        </tr>
         
        
        <tr>
        <td align="left">Password:
        </td>
        <td></td>
        <td align="left">Name: </td>
        </tr>
        <tr>
          <td>
          <input v-model="message" placeholder="*******">
          </td>
          <td></td>
          <td><input v-model="message" name="tbNameView" readonly="true"></td>
          </tr>
         
        
        </tr>
        <tr>
            <td align="left">Confirm Password:
          </td>
          <td></td>
          <td align="left">Address:
          </td>
        </tr>
        <tr>
          <td>
              <input v-model="message" placeholder="*******">
            </td>
            <td></td>
            <td><input v-model="message" name="tbAdressview" readonly="true"></td>
            </tr>
            
            
        </tr>
        <tr>
            <td align="right"><input id="btnAdd" type="submit" value="REGISTER"></td>
            <td></td>
            <td align="left">Password: </td>
        </tr>
        <tr> 
            <td></td>
          <td></td>
          <td>
            <input v-model="message" name="tbpw" readonly="true">
          </td>
        </tr>
        
        
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
  </div>







  <script src="C:\Users\HP\projects\ojt\static\js\vuescript.js"></script>
</body>
</html>
{% endblock %}