<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2clear</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <script type="text/javascript" src="/static/plugins/jQuery/jQuery.min.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <a class="logo">
        <span class="logo-mini">
          <b>A</b>LT</span>
        <span class="logo-lg">
          <b>2</b>Clear</span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
              <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">
                <i class=" fa-sign-out"></i>
                <span class="label label-danger">Log-out</span>
              </a>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
              <form action = "" method = "post">
            <p>{{session.name}}</p>
            
            <a href="#">
              <i class="fa fa-circle text-success"></i> Online</a>
               </form>
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">

          <ul class="fixed sidebar-menu">

            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Admin Panel</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="/aadd">
                    <i class="fa fa-circle-o"></i> Add User</a>
                </li>
                <li>
                  <a href="/aastock">
                    <i class="fa fa-circle-o"></i>Stock In & Stock Out</a>
                </li>
                <li>
                  <a href="/aproduct">
                    <i class="fa fa-circle-o"></i>Manage Products</a>
                </li>
                <li class="active">
                  <a href="/amanage">
                    <i class="fa fa-circle-o"></i>Manage Accounts</a>
                </li>
                <li>
                  <a href="/reports">
                    <i class="fa fa-circle-o"></i>View Reports</a>
                </li>
              </ul>

        </form>
      </section>
    </aside>

    <div class="content-wrapper">

      <section class="content">
        <h1> Admin Panel
          <small>2clear</small>
        </h1>
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="transactioncount">Orders </h3>

                <p>Order Registration</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/transactions" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="userregistration">Customers</h3>

                <p>Customer Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/registrations" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>Products
                  <sup style="font-size: 20px"></sup>
                </h3>

                <p>Inventory</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/products" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>Welcome Admin</h3>

                <p>Admin Panel</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/admin" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <div class="box-header with-border">
        <h3 class="box-title">Manage Users</h3>
      </div>
      <form method="POST">
        <div class="box-body">
          <div class="form-group">
              <label>ID:</label>
              <input type="select" list="users" name= "users" id="selectuser" class="form-control">
              <datalist id="users">
                  {% for users in users %}
                    <option value="{{ users.id }}">{{ users.name }}</option>
                  {% endfor %}
                </datalist>      
          </div>
          <div class="form-group">
            <label for="user_name">Name:</label>
            <input v-model="message" id="viewuser_name"  readonly="true" class="form-control" name="tbusersname">
          </div>

          <div class="form-group">
            <label for="username">Username:</label>
            <input v-model="message" id="viewusername" readonly="true"  class="form-control" name="tbusername">
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input v-model="message" id="viewpassword"  readonly="true" class="form-control" type="message" name="tbpassword">
          </div>
          <div class="form-group">
            <label for="viewrole">Role:</label>
            <input v-model="message" id="viewrole"  readonly="true" class="form-control"  type="message" name="vrole">
          </div>
          <div class="box-footer" id="app">
            <button id="btn_editproduct" type="submit" class="btn btn-primary" >Edit</button>
            <button id="btn_canceledit" type="submit" style="display: none;" class="btn btn-primary" >Cancel edit</button>
            <button id="btn_deleteproduct"  class="btn btn-primary">Delete</button>
            <button id="btn_saveproduct" type="submit"  style="display: none;" class="btn btn-primary">Save</button>
          </div>
      </form>


      <div class="box-header with-border">
          <h3 class="box-title">View Users</h3>
        </div>
        <form method="POST">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    
                    
                  </tr>
                </thead>
                
                <tbody id="tobeprinted">
                    {% for row in users %}
                    <tr>
                          <td>{{ row.id }}
                          <td>{{ row.name }}</td>
                          <td>{{ row.username }}</td>
                          <td>{{ row.password }}</td>
                          <td>{{ row.role }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </form>
      </div>
    </div>


</body>
<script type="text/javascript">
   $(function(){
      $('#selectuser').on('change', function(){
        var id = $('#selectuser').val();
        console.log(id,'id');
        var jqaxhr = $.ajax({
          method: "GET",
          url: window.location.origin+"/user/"+id
        })
        .done(function(data){
          console.log(data);
          $('#viewuser_name').val(data.name);
          $('#viewusername').val(data.username);
          $('#viewpassword').val(data.password);
          $('#viewrole').val(data.role);
        })
        .fail(function(e){
          alert('error')
        })
        .always(function(){
        })
      })
  })
    $(function () {
$('#btn_editproduct').unbind('click').on('click', function (e) {
      e.preventDefault();
      $("#btn_canceledit").show();
      $("#btn_saveproduct").show();
      $("#btn_editproduct").hide();
      $('#brn_editproduct').text("Cancel save")
      $('#viewuser_name').attr("readonly", false) 
      $('#viewusername').attr("readonly", false)
      $('#viewpassword').attr("readonly", false) 
      $('#viewrole').attr("readonly", false) 
})
$('#btn_canceledit').unbind('click').on('click', function (e) {
      e.preventDefault();
      $("#btn_canceledit").hide();
      $("#btn_saveproduct").hide();
      $("#btn_editproduct").show();
      $('#viewuser_name').attr("readonly", true) 
      $('#viewusername').attr("readonly", true)
      $('#viewpassword').attr("readonly", true) 
      $('#viewrole').attr("readonly", true) 
})
$('#btn_saveproduct').unbind('click').on('click', function (e) {
      e.preventDefault();
        var id = $('#selectuser').val();
        var uname = $('#viewuser_name').val();
        var usname =  $('#viewusername').val();
        var pw =  $('#viewpassword').val();
        var role =  $('#viewrole').val();
      var jqxhr = $.ajax({
        method: "post",
        url: "/User/update",
        data: {id:id, name:uname, username: usname, password: pw, role: role }

      })
        .done(function (data) {
          alert(data.message);
        })
        .fail(function () {
          alert("error");
        })
        .always(function () {
          //alert($('#name').val() );
        });
    });
    $('#btn_deleteproduct').unbind('click').on('click', function (e) {
      e.preventDefault();
      var id = $('#selectuser').val();
      var jqxhr = $.ajax({
        method: "delete",
        url: "/User/delete",
        data: {id:id}

      })
        .done(function (data) {
          alert(data.message);
          $('#selectuser').val("");
          $('#viewuser_name').val("");
          $('#viewusername').val("");
          $('#viewpassword').val("");
          $('#viewrole').val("");
        })
        .fail(function () {
          alert("error");
        })
        .always(function () {
          //alert($('#name').val() );
        });
    });
  })
  
</script>

</html>