<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2clear</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <script type="text/javascript" src="/static/plugins/jQuery/jQuery.min.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <a class="logo">
        <span class="logo-mini">
          <b>A</b>LT</span>
        <span class="logo-lg">
          <b>2</b>Clear</span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
              <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">
                <i class=" fa-sign-out"></i>
                <span class="label label-danger">Log-out</span>
              </a>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p id="user"  >{{session.username}}</p>
            <a href="#">
              <i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">

          <ul class="fixed sidebar-menu">

            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Admin Panel</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li >
                  <a href="/aadd">
                    <i class="fa fa-circle-o"></i> Add User</a>
                </li>
                <li>
                  <a href="/aastock">
                    <i class="fa fa-circle-o"></i>Stock In & Stock Out</a>
                </li>
                <li>
                  <a href="/aproduct">
                    <i class="fa fa-circle-o"></i>Manage Products</a>
                </li>
                <li class="active">
                  <a href="/amanage">
                    <i class="fa fa-circle-o"></i>Manage Accounts</a>
                </li>
                <li>
                  <a href="/reports">
                    <i class="fa fa-circle-o"></i>View Reports</a>
                </li>
              </ul>

        </form>
      </section>
    </aside>

    <div class="content-wrapper">

      <section class="content">
        <h1> Admin Panel
          <small>2clear</small>
        </h1>
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="transactioncount">00</h3>

                <p>Transactions</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/transactions" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="userregistration">00</h3>

                <p>Customer Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/registrations" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>2
                  <sup style="font-size: 20px">clear</sup>
                </h3>

                <p>Inventory</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/products" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>65</h3>

                <p>Admin Panel</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/admin" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
</section>

        <div class="box-header with-border">
          <h3 class="box-title">Manage Users</h3>
        </div>
        <form method="POST">
          <div class="box-body">
            <div class="form-group">
              <label for="viewuser_id">ID:</label>
              <input v-model="message" id="viewuser_id" class="form-control" placeholder="ex: ####">
            </div>
            <div class="form-group">
              <label for="user_name">Name:</label>
              <input v-model="message" id="viewuser_name" class="form-control" name="tbusersname" placeholder="ex: juan dela cruz">
            </div>

            <div class="form-group">
              <label for="username">Username:</label>
              <input v-model="message" id="viewusername" class="form-control" name="tbusername" placeholder="ex: username">
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input v-model="message" id="viewpassword" class="form-control" type="message" name="tbpassword" placeholder="ex: password">
            </div>
            <div class="box-footer">
              <input id="btn_edit" type="button" class="btn btn-primary" value="Edit">
              <input id="btn_delete" type="button" class="btn btn-primary" value="Delete">
              <input id="btn_save" type="button" class="btn btn-primary" value="Save">
            </div>
        </form>
        </div>
    </div>


</body>
<script>
  $(function () {
    $('#btn_edit').unbind('click').on('click', function (e) {
      e.preventDefault();


    });



    $('#btn_delete').unbind('click').on('click', function (e) {
      e.preventDefault();

    });



    $('#btn_save').unbind('click').on('click', function (e) {
      e.preventDefault();

    });

  })
</script>

</html>