<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2clear</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <script type="text/javascript" src="/static/plugins/jQuery/jQuery.min.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <a class="logo">
        <span class="logo-mini">
          <b>A</b>LT</span>
        <span class="logo-lg">
          <b>2</b>Clear</span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
              <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">
                <i class=" fa-sign-out"></i>
                <span class="label label-danger">Log-out</span>
              </a>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p id="userstatus">{{session.name}}</p>
            <a href="#">
              <i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">

          <ul class="fixed sidebar-menu">

            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Admin Panel</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="/aadd">
                    <i class="fa fa-circle-o"></i> Add User</a>
                </li>
                <li>
                  <a href="/aastock">
                    <i class="fa fa-circle-o"></i>Stock In & Stock Out</a>
                </li>
                <li class="active">
                  <a href="/aproduct">
                    <i class="fa fa-circle-o"></i>Manage Products</a>
                </li>
                <li>
                  <a href="/amanage">
                    <i class="fa fa-circle-o"></i>Manage Accounts</a>
                </li>
                <li>
                  <a href="/reports">
                    <i class="fa fa-circle-o"></i>View Reports</a>
                </li>
              </ul>

        </form>
      </section>
    </aside>

    <div class="content-wrapper">

      <section class="content">
        <h1> Admin Panel
          <small>2clear</small>
        </h1>
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="transactioncount">Orders</h3>

                <p>Order Registration</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/transactions" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="userregistration">Customers</h3>

                <p>Customer Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/registrations" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>Products
                  <sup style="font-size: 20px"></sup>
                </h3>

                <p>Inventory</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/products" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>Welcome Admin</h3>

                <p>Admin Panel</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/admin" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <div class="nav-tabs-custom">
        <div class="box box-primary">
          <div class="box-header with-border">
            <form role="form" method="POST">
              <div class="box-body">
                <h3 class="box-title">Register Products</h3>
              </div>
              <div class="form-group">
                <label for="sp">Product Name: </label>

                <input v-model="message" name="tbsaleprice" id="productname" class="form-control" placeholder="ex:water">
              </div>
              <div class="form-group">
                <label for="sp">Product Type: </td>
                  <select v-model="message" id="type" class="form-control">
                    <option>Sale</option>
                    <option>Rent</option>

                  </select>
              </div>
              <div class="form-group">
                  <label for="sp">Product Price</td>
                  <input v-model="message" id="sp" class="form-control" placeholder="enter value here">
              </div>
              <div class="form-group">
                  <label for="sp">Product Quantity</td>
                  <input v-model="message" id="quantity" class="form-control" placeholder="enter value here">
              </div>
              <div class="box-footer" id="app">
                <button id="btn_products" type="submit" class="btn btn-primary">Add product</button>
              </div>
          
            </form>
          </div>
        </div>
        <div class="box box-primary">                
            <div class="box-header with-border">
                <form role="form" method="POST">
                    <div class="box-body">
                        <h3 class="box-title">Manage Products</h3>
                    </div>
                      <div class="form-group">
                        <label for="left">Search Product Name:</label>
                       <select type="message" id="vpname" class="form-control">
                          {% for products in products %}
                          <datalist>
                            <option id="selected" value="{{products.id}}">{{products.pname}}</option>
                          </datalist> 
      
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                          <label for="id">product ID</td>
                          <input v-model="message" readonly="true" id="prid" class="form-control" >
                        </div>
                        <div class="form-group">
                          <label for="sp">Product Type: </td>
                            <select v-model="message" id="vtype" readonly="true" class="form-control">
                              <option>Sale</option>
                              <option>Rental</option>                            
                        </div>
                        <div class="form-group">
                           <label for="rp">Product Price</label>
                           <input v-model="message" readonly="true" id="vprice" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="sp">Product Quantity</td>
                          <input v-model="message" readonly="true" id="vquantity" class="form-control" >
                      </div>
                      <div class="box-footer" id="app">
                          <button id="btn_editproduct" type="submit" class="btn btn-primary" >Edit</button>
                          <button id="btn_canceledit" type="submit" style="display: none;" class="btn btn-primary" >Cancel edit</button>
                          <button id="btn_deleteproduct"  class="btn btn-primary">Delete</button>
                          <button id="btn_saveproduct" type="submit"  style="display: none;" class="btn btn-primary">Save</button>
                      </div>
                </form>
            </div>
        </div>
      </div>
</body>
<script type="text/javascript">
   $(function(){
      $('#vpname').on('change', function(){
        var id = $(this).find(":selected").val();
        console.log(id, 'id');
        var jqaxhr = $.ajax({
          method: "GET",
          url: window.location.origin+"/product/"+id 
        })
        .done(function(data){
          console.log(data);
          $('#prid').val(data.id);
          $('#vtype').val(data.ptype);
          $('#vprice').val(data.pprice);
          $('#vquantity').val(data.quantity);


        })
        .fail(function(e){
          alert('error')
        })
        .always(function(){
        })
      })
  })
  $(function () {
    $('#btn_products').unbind('click').on('click', function (e) {
      e.preventDefault();

      var pname = $('#productname').val();
      var pprice = $('#sp').val();
      var quantity = $('#quantity').val();
      var ptype = $('#type').val();

      var jqxhr = $.ajax({
        method: "post",
        url: "/Products/add",
        data: { pname: pname, pprice: pprice, quantity: quantity, ptype: ptype }

      })
        .done(function (data) {
          alert(data.message);
        $('#productname').val("");
        $('#sp').val("");
        $('#quantity').val("");
        $('#type').val("");
        })
        .fail(function () {
          alert("error");
        })
        .always(function () {
          //alert($('#name').val() );
        });
    });


   /*  $(document).ready(function(){
    $("#hide").click(function(){
        $("#show").hide();
    });
    $("#show").click(function(){
        $("#hide").show();
    });
});
 */

    $(function () {
$('#btn_editproduct').unbind('click').on('click', function (e) {
      e.preventDefault();
      $("#btn_canceledit").show();
      $("#btn_saveproduct").show();
      $("#btn_editproduct").hide();
      $('#brn_editproduct').text("Cancel save")
      $('#vtype').attr("readonly", false) 
      $('#vprice').attr("readonly", false)
      $('#vquantity').attr("readonly", false) 
})
$('#btn_canceledit').unbind('click').on('click', function (e) {
      e.preventDefault();
      $("#btn_canceledit").hide();
      $("#btn_saveproduct").hide();
      $("#btn_editproduct").show();
      $('#vtype').attr("readonly", true) 
      $('#vprice').attr("readonly", true)
      $('#vquantity').attr("readonly", true) 
})
$('#btn_saveproduct').unbind('click').on('click', function (e) {
      e.preventDefault();
      var id = $('#vpname').val();
      var sprice = $('#vprice').val();
      var squantity = $('#vquantity').val();
      var stype = $('#vtype').val();

      var jqxhr = $.ajax({
        method: "post",
        url: "/products/update",
        data: {id:id, pprice: sprice, quantity: squantity, ptype: stype }

      })
        .done(function (data) {
          alert(data.message);
        })
        .fail(function () {
          alert("error");
        })
        .always(function () {
          //alert($('#name').val() );
        });
    });
    $('#btn_deleteproduct').unbind('click').on('click', function (e) {
      e.preventDefault();
      var id = $('#vpname').val();
      var jqxhr = $.ajax({
        method: "delete",
        url: "/deleteproduct",
        data: {id:id}

      })
        .done(function (data) {
          alert(data.message);
          $('#prid').val("");
          $('#vpname').val("");
          $('#vprice').val("");
          $('#vquantity').val("");
          $('#vtype').val("");
        })
        .fail(function () {
          alert("error");
        })
        .always(function () {
          //alert($('#name').val() );
        });
    });
  })
  })
</script>

</html>