<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/static/style.css" type="text/css">

<div class="tb">
<div class="container">
	{%extends "home.html" %}
		{% block body %}
	<h1 class="title">Deliver:</h1>
<fieldset>


		<div class="container">
				<tr>
					<table class="icon-arrow" style="width:100%" align="center">
							<form action="/recordtransact" method="post">		
								</td>
								</tr>
								<tr>
									<td align="left">Customer Name:</td>
									
								</tr>
									<tr>
										<td>
											<select name="customers" id="customers">
												{% for customer in customers %}
													<option value="{{ customer.Customerid }}">{{ customer.CustomerName }}</option>
												{% endfor %}
											</select>
                                        <!-- <dynamic-option v-for="customer in customers" v-bind:todo="customer"></dynamic-option>
                                     </datalist> -->
                                    </tr>	
                                </tr>
                                <tr>
                                    <td>
                                <input id="address" name ="tbAddress" placeholder="Customer Address">
                                    </td>
                                    
                            </tr>
								<tr>
								<td align="left">Deliver Amount:</td>
									
								</tr>
								<tr>
							            <td>
									<input v-model="message" name="tbAmount" placeholder=" Input Deliver Amount">
										</td>
                                </tr>                               
								<td align="left">
									<input id="btnAdd" type="submit" value="Record Delivery">
                                </td> 

							</form>
						</table>
				</div>
				</fieldset>
			</table>

			<!-- <script  src="js/index.js"></script> -->
		</div>
	</div>
{% endblock %}

{% block js %}
<script>
	$(function(){
		$('#customers').on('change', function(){
			var id = $(this).children('option').filter(':selected').val();
			var jqaxhr = $.ajax({
				method: "GET",
				url: "localhost:4000/customer/"+id 
			})
			.done( function(data){
				alert(data);
			})
			.fail(function(e){
				alert('error')
			})
			.always(function(){
				
			})
		});
	}) 
	</script>
{% endblock %}