<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Customer Name</td>
                    <td>Adress</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for row in customers %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ roW.name }}</td>
                    <td>{{ row.address }}</td>
                    <td><a href="/update/{row.id}" class="btn btn-primary">Update</a> <a href="/delete/{row.id}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>