<link rel="stylesheet" href="/static/style.css" type="text/css">
<div class="fields">
		{% block body %}
	<h1 align="center">TWO CLEAR</h1>
	<fieldset>
		<div class="table">

			<table class="tb" style="width:100%" align="left">
	
				<form action="/adminpanel" </form>
				<th> <input value="Admin Panel" type="submit"></th>
				</form>
						
	
				<th> <input value="View Customers/Reports" type="submit"></th>
				<th><input v-model="message" name="DISPLAY" readonly="true"> </th>
				<form action="/logout" </form>
					<th> <input value="LOGOUT" type="submit"</th>
					</form>
				<tr>
					<table class="tb" style="width:100%">
							
									<th align="left">Add Customer</th>
									<th align="left">View Customer Transactions</th>
				
								<tr>
									<td align="left">Customer ID: </td>
									<td align="left">Search: </td>
								</tr>
								<tr>
									<td>
										<input type="text" name="tbID">
									</td>	
									<td>
											<input list="browsers" name="browser">
											<datalist id="browsers">
							
												{% for customer in customers %}
												<option value= '{{ customer.CustomerName }}'>{{ customer.CustomerName }}</option>
												{% endfor %}
											</datalist>
									</td>
								</tr>
									 
										
									</td>
									
								</tr>
								<tr>
									<td align="left">Customer Name:</td>
									<td align="left">Customer Name:</td>
											
								</tr>
									<tr>
										<td>
									<input v-model="message" name ="tbName"placeholder="ex: juan dela cruz">
										</td>
										<td>
												<input type="text" name="tbNameView" readonly="true">
										</td>
									</tr>
									<tr>
									<td align="left">Customer Adress:</td>
									<td align="left">Customer Adress: </td>
									</tr>
									<tr>
										<td>
											<input v-model="message" name="tbAdress" placeholder="ex: general santos city">
										</td>
										<td>
											<input type="text" name="tbAdressview" readonly="true">
										</td>
									</tr>
									<tr>
										<td align="left">Contact #:</td>
										<td align="left">Contact #: </td>
									</tr>
									<tr>
											<td><input v-model="message" name="tbContact" placeholder="ex: 09123456789"></td>
											<td>	<input type="text" name="tbContactview" readonly="true"></td>
									</tr>
										
										
									
									</tr>
									<tr>
										<td align="left">
											<input id="btnAdd" type="submit" value="Add">
										</td>
										<td align="left">Customer Order(s):
										
										</td>
									</tr>
				
				
									<tr>
											<td></td>
										<td><input v-model="message" name="tbRequest" ></td>
										
									</tr>
				
				
									<tr>
										<td></td>
										<td align="left">Date/time delivered:
										</td>
									</tr>
				
									<tr>
										<td></td>
										
										<td>
											<input v-model="message" name="tbdtdeliver" placeholder="ex: mm/dd/yyy hh/mm">
										</td>
									</tr>
									<tr>
										<td></td>
										<td align="left">
											<input id="btnDeliver" type="submit" value="Add">
										</td>
									</tr>
							</form>
						</table>
				</fieldset>
				</div>
				</fieldset>
			</table>
	</fieldset>
	</div>
	</fieldset>


{% endblock %}
</div>
