<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"> 
<link rel="stylesheet" href="/static/style.css" type="text/css">
<div class="fields">
		{% block body %}
	<h1 align="center">TWO CLEAR</h1>
	<fieldset>
		<div class="table">

			<table class="tb" style="width:70%" align="center">
				<th> <input value="Admin Panel" type="submit"></th>
				<th> <input value="View Customers" type="submit"></th>
				<th> <input value="Inventory" type="submit"></th>
				<th> <input value="View Reports" type="submit"></th>
				<form action="/logout" </form>
					<th> <input value="LOGOUT" type="submit"</th>
					</form>
				<tr>
					<table class="tb" style="width:100%">
							
									<th align="right">Add Customer</th>
									<th align="right">View Customer Transactions</th>
				
								<tr>
									<td align="right">Customer ID:
										<input type="text" name="tbID">
									</td>
									<td align="right">Search:  
										<input list="browsers" name="browser">
										<datalist id="browsers">
						
											{% for customer in customers %}
											<option value= '{{ customer.CustomerName }}'>{{ customer.CustomerName }}</option>
											{% endfor %}
										</datalist>
										<input value="Select" name="btnSubmit"type="submit">
									</td>
									
								</tr>
								<tr>
									<td align="right">Customer Name:
										<input v-model="message" name ="tbName"placeholder="ex: juan dela cruz">
									</td>
									<td align="right">Customer ID:
										<input type="text" name="tbIDview" readonly="true">
									</td>
									
									<tr>
										<td align="right">Customer Adress:
											<input v-model="message" name="tbAdress" placeholder="ex: general santos city">
										</td>
										<td align="right">Customer Name:
											<input type="text" name="tbNameView" readonly="true">
										</td>
									</tr>
									<tr>
										<td align="right">Contact #:
											<input v-model="message" name="tbContact" placeholder="ex: 09123456789">
										</td>
										<td align="right">Customer Adress:
											<input type="text" name="tbAdressview" readonly="true">
										</td>
									
									</tr>
									<tr>
										<td align="right">
											<input id="btnAdd" type="submit" value="Add">
										</td>
										<td align="right">Contact #:
											<input type="text" name="tbContactview" readonly="true">
										</td>
									</tr>
				
				
									<tr>
										<td></td>
										<td></td>
									</tr>
				
				
									<tr>
										<td align="right">Containers in Stock:
											<input v-model="message" name="tbStock ">
										</td>
										<td align="right">Customer Order(s):
											<input v-model="message" name="tbRequest" >
										</td>
									</tr>
				
									<tr>
										<td></td>
										<td align="right">Date/time delivered:
											
											<input v-model="message" name="tbdtdeliver" placeholder="ex: mm/dd/yyy hh/mm">
										</td>
									</tr>
									<tr>
										<td></td>
										<td align="right">
											<input id="btnDeliver" type="submit" value="Add">
										</td>
									</tr>
							</form>
						</table>
				</fieldset>
				</div>
				</fieldset>
			</table>
	</fieldset>
	</div>
	</fieldset>


{% endblock %}
</div>
