<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"> 
<div class="home">
		{% block body %}
	<h1 align="center">TWO CLEAR</h1>
	<fieldset>	
		<div class="table">

			<table class="tb" style="width:70%" align="center">
				<th> <input value="Admin Panel" type="submit"> <link href="fields.html"> </th>
				<th> <input value="View Customers" type="submit"></th>
				<th> <input value="Inventory" type="submit"></th>
				<th> <input value="View Reports" type="submit"></th>
	</fieldset>
	</div>
	</fieldset>
{% endblock %}
</div>
