<link rel="stylesheet" href="/static/style.css" type="text/css">
<div class="home">
		{% block body %}
	<h1 align="center">TWO CLEAR</h1>
	<fieldset>
			<div class="table">
	
				<table class="tb" style="width:100%" align="center">
	
					<form action="/adminpanel" </form>
					<th> <input value="Admin Panel" type="submit"></th>
					</form>
	
					<th> <input value="View Customers" type="submit"></th>
	
					<th> <input value="Inventory" type="submit"></th>
	
					<form action=/reportviewer </form>
						<th> <input value="View Reports" type="submit"></th>
						</form>
	
					<form action="/logout" </form>
						<th> <input value="LOGOUT" type="submit"</th>
						</form>
	</table>
</div>
</fieldset>


<link rel="stylesheet" href="/static/style.css" type="text/css">
  <script src="https://unpkg.com/vue"></script>
</head>
  <script src="C:\Users\HP\projects\ojt\static\js\vuescript.js"></script>
</html>
{% endblock %}
