<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2clear</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <script type="text/javascript" src="/static/plugins/jQuery/jQuery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/static/js/print.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/print.css">

  <script href="/static/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/plugins/js/bootstrap.min.js"></script>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <a class="logo">
        <span class="logo-mini">
          <b>A</b>LT</span>
        <span class="logo-lg">
          <b>2</b>Clear</span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
              <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">
                <i class=" fa-sign-out"></i>
                <span class="label label-danger">Log-out</span>
              </a>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p id="userstatus">{{session.name}}</p>
            <a href="#">
              <i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">

          <ul class="fixed sidebar-menu">

            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Transactions</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="/transactions">
                    <i class="fa fa-circle-o"></i> Add Order</a>
                </li>
                <li class="active">
                  <a href="/vieworders">
                    <i class="fa fa-circle-o"></i>View Orders</a>
                </li>
              </ul>
              </a>
          </ul>
          </span>
        </form>
      </section>
    </aside>

    <div class="content-wrapper">

      <section class="content">
        <h1> Order Registration
          <small>2clear</small>
        </h1>
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="transactioncount">Orders</h3>

                <p>Order Registration</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="transactions " class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="userregistration">Customers</h3>

                <p>Customer Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/registrations" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>Products
                  <sup style="font-size: 20px"></sup>
                </h3>

                <p>Inventory</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/products" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>Welcome Admin</h3>

                <p>Admin Panel</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/admin" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- #Order -->

      <div class="Order">
        <div class="col-md-13">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h2>Order List</h2>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Total Bill</th>
                    <th>Recorded By</th>
                    <th>Date Recorded</th>
                    <th>View Order Details</th>
                  </tr>
                </thead>
                <tbody id="orders">
                  {% for row in orders if row.status == "undelivered" %}
                  <tr>

                    <td class="id" id={{ row.orderid }} value={{ row.orderid }}>{{ row.orderid }}</td>
                    <td class="type">{{ row.customername }}</td>
                    <td class="totalbill">{{ row.totalbill}}</td>
                    <td class="quantity">{{ row.recordedby }}</td>
                    <td class="Date">{{ row.date}}</td>
                    <td>
                      <a name="listt">
                        <button id={{ row.orderid }} type="button" class="fa fa-check orderlist" class="trigger" data-target="#yourid">View Order Details</button>
                    </td>

                    {% else %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL -->

    <div class="modal fade" id="yourid" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" id>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <h4 class="modal-title"> Order Number:</h4>
            <h4 class="modal-title" id="ordernumber"></h4>
          </div>
          <div class="modal-body">
            <form method="post" action="#" id="printJS-form">
              <p>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Product ID</th>
                      <th>Product Name</th>
                      <th>Type</th>
                      <th>Quantity</th>
                      <th>Sub Total</th>

                    </tr>
                  </thead>

                  <tbody id="listorder">

                    <tr>
                      <td id="orderid"></td>
                      <td class="productid"></td>
                      <td class="type"></td>
                      <td class="quantity"></td>
                      <td class="subtotal"></td>
                      <td class="totalbill"></td>
                      <td>
                    </tr>
          </div>
        </div>
        </tbody>
        </table>
        </p>
        </form>

        <div class="modal-footer">
          <tfoot>
            <a id="checkout" class="btn btn-primary checkout">Complete Customer Order
              <i class="fa fa-truck"></i>
            </a>
            <button type="button" class="btn btn-primary print" onclick="exportTableToCSV('OrderList.csv')">
              Print Orderlist
            </button>
            <a id="cancel" class="btn btn-primary Cancel">Cancel Order
              <i class="fa fa-x"></i>
            </a>
            <label for="sp">Select Mode of Payment: </td>
              <select v-model="message" id="paytype" readonly="true" value="  " class="form-control">
                <option>Debit</option>
                <option>Oncash</option>
        </div>
        </tfoot>
        <button type="button" class="btn btn-default closemodal " data-dismiss="modal">Close</button>
      </div>
</body>

</html>

<script type="text/javascript">

  $('.orderlist').click(function (e) {
    e.preventDefault();

    var id = (this.id);
    var jqaxhr = $.ajax({
      method: "GET",
      url: window.location.origin + "/orderid/" + id
    })

      .done(function (data) {
        console.log('id', id);
        console.log('data', data);

        $('#listorder').empty();

        $('#ordernumber').html(id);
        var totalbill = 0;
        for (var i = 0; i < data.length; i++) {
          console.log("orderid", data.orderid)
          console.log("sdf", data[i].productid)
          $('#listorder').append('<tr><td id="orderid">' + data[i].productid + '</td><td id="productid">' + data[i].pname + '</td><td id="type">' + data[i].type + '</td><td id="quantity">' + data[i].quantity + '</td><td id="subtotal">' + data[i].subtotal + '</td>');

          var totalbill = totalbill + parseFloat(data[i].subtotal);

        }
        $('#listorder').append('<th id="subtotal">' + 'Total Bill:' + '</th>' + '<th id="totalbill">' + totalbill + '</th>');
        $('#yourid').modal('show');

      })
      .fail(function (e) {
        alert('error')
      })
      .always(function () {

        $(function () {
          $('.checkout').on('click', function (e) {
            e.preventDefault();

            if ($('#paytype').val() == "Debit") {

              var account = $('#totalbill').html();
              var jqaxhr = $.ajax({
                method: "GET",
                url: window.location.origin + "/salescustomer/" + id
              })
                .done(function (data) {
                  console.log(data)
                  var customerid = data.customerid;
                  var customername = data.customername;
                  // Variaballs 
                  var tdate = new Date();
                  var dd = tdate.getDate(); //yields day
                  var MM = tdate.getMonth(); //yields month
                  var yyyy = tdate.getFullYear(); //yields year
                  var currentDate = (MM + 1) + "-" + dd + "-" + yyyy;
                  var ordernumber = $('#ordernumber').text();
                  var recordedby = $('#userstatus').text();
                  console.log(customerid, customername)
                  $.ajax({
                    type: "Post",
                    url: "/recordsales",
                    data: { ordernumber: ordernumber, customerid: customerid, customername: customername, totalsale: totalbill, recordedby: recordedby, date: currentDate }
                  })



                  //CONDITIONAL STATEMENT IF BALANCE IS ZERO
                  //
            //       var totalbill = $('#totalbill').html();
            //       tenderedcash = prompt('Input Tendered Cash Amount(Total Bill of): ' + totalbill),
            //   number_only = /^\d+$/;

            // if (number_only.test(tenderedcash)) {

            //   if (tenderedcash >= parseInt(totalbill)) {

            //     var change = tenderedcash - parseInt(totalbill);
            //     alert('Customer Change is: ' + change + ' php');

                  

              
                //CREDIT TO ACCOUNT
                  $.ajax({
                    type: "post",
                    url: "/acctupdate",
                    data: { id: customerid, account: account }

                  })
                    .done(function (data) {
                      alert(data.message);
                    })
                    .fail(function () {
                      alert("error");
                    })
                    .always(function () {
                      //alert($('#name').val() );
                    });


                  var jqaxhr = $.ajax({
                    method: "GET",
                    url: window.location.origin + "/getorderid/" + ordernumber
                  })
                    .done(function (data) {
                      console.log("order", data)
                    })
                  var status = "delivered "
                  $.ajax({
                    type: "Post",
                    url: "/approveorder",
                    data: { orderid: ordernumber, status: status }
                  })
                    .done(function (data) {
                      var p = $("#listorder").find("tr").length;

                      for (var l = 0; l < p; l++) {
                        if (type = $("#listorder").find("tr").eq(l).find("td").eq(1).text() == "Water Container") {

                          var quantitits = $("#listorder").find("tr").eq(l).find("td").eq(3).text();
                          console.log("type", type)
                          console.log("quantitits", quantitits)
                          $.ajax({
                            type: "Post",
                            url: "/updatecontainer",
                            data: { orderid: ordernumber, type: type, quantity: quantitits }
                          })
                            .done(function (data) {
                            });
                        }
                      }
                    })
                    .done(function (data) {
                      alert('Order Approved!');
                      window.location.href = "http://localhost:4000/";
                    })
                })
                .fail(function (e) {
                  alert('error')
                })
                .always(function () {
                })

            }
            else {
            var totalbill = $('#totalbill').html();
            tenderedcash = prompt('Input Tendered Cash Amount(Total Bill of): ' + totalbill),
              number_only = /^\d+$/;

            if (number_only.test(tenderedcash)) {

              if (tenderedcash >= parseInt(totalbill)) {

                var change = tenderedcash - parseInt(totalbill);
                // var result = window.confirm({content:'Customer Change is:',
                //                             buttons:{  
                //                               ok: {
                //                             text: 'Confirm',
                //                             action: function ()
                //                             {
                                  
                //                             }
                //                             },
                //                             close: {
                //                             text: 'Cancel',
                //                             action: function ()
                //                             {
                                  
                //                             }
                //                             } 
                //                             }
                                            
                                            
                                            
                //                             });
                
            
                

               
                
                var jqaxhr = $.ajax({
                  method: "GET",
                  url: window.location.origin + "/salescustomer/" + id
                })
                  .done(function (data) {
                    console.log(data)
                    var customerid = data.customerid;
                    var customername = data.customername;
                    // Variaballs 
                    var tdate = new Date();
                    var dd = tdate.getDate(); //yields day
                    var MM = tdate.getMonth(); //yields month
                    var yyyy = tdate.getFullYear(); //yields year
                    var currentDate = (MM + 1) + "-" + dd + "-" + yyyy;
                    var ordernumber = $('#ordernumber').text();
                    var recordedby = $('#userstatus').text();
                    console.log(customerid, customername)
                    $.ajax({
                      type: "Post",
                      url: "/recordsales",
                      data: { ordernumber: ordernumber, customerid: customerid, customername: customername, totalsale: totalbill, recordedby: recordedby, date: currentDate }
                    })


                    $.ajax({
                      type: "Post",
                      url: "/acctupdate2",
                      data: { id: customerid, account: change }
                    })
                    var jqaxhr = $.ajax({
                      method: "GET",
                      url: window.location.origin + "/getorderid/" + ordernumber
                    })
                      .done(function (data) {
                        console.log("order", data)
                      })
                    var status = "delivered "
                    $.ajax({
                      type: "Post",
                      url: "/approveorder",
                      data: { orderid: ordernumber, status: status }
                    })
                      .done(function (data) {
                        var p = $("#listorder").find("tr").length;

                        for (var l = 0; l < p; l++) {
                          if (type = $("#listorder").find("tr").eq(l).find("td").eq(1).text() == "Water Container") {

                            var quantitits = $("#listorder").find("tr").eq(l).find("td").eq(3).text();
                            console.log("type", type)
                            console.log("quantitits", quantitits)
                            $.ajax({
                              type: "Post",
                              url: "/updatecontainer",
                              data: { orderid: ordernumber, type: type, quantity: quantitits }
                            })
                              .done(function (data) {
                              });
                          }
                        }
                      })
                      .done(function (data) {
                        alert('Order Approved!');
                        window.location.href = "http://localhost:4000/";
                      })
                  })
                  .fail(function (e) {
                    alert('error')
                  })
                  .always(function () {
                  })

              } else {
                alert('Invalid Input, Tendered amount is invalid');
              }
            } else {
              alert('Invalid Input, the prompt only accepts numbers');
            }
          }
          })
      })
  });
  });

  $('.cancel').click(function (e) {
    e.preventDefault();



    var id = $('#ordernumber').html();
    console.log("ani", id)
    var jqaxhr = $.ajax({
      method: "GET",
      url: window.location.origin + "/salescustomer/" + id
    })
      .done(function (data) {
        console.log(data)
        var customerid = data.customerid;
        var customername = data.customername;
        // Variaballs 
        var tdate = new Date();
        var dd = tdate.getDate(); //yields day
        var MM = tdate.getMonth(); //yields month
        var yyyy = tdate.getFullYear(); //yields year
        var currentDate = (MM + 1) + "-" + dd + "-" + yyyy;
        var ordernumber = $('#ordernumber').text();
        var recordedby = $('#userstatus').text();
        console.log(customerid, customername)
        $.ajax({
          type: "Post",
          url: "/recordsales",
          data: { ordernumber: ordernumber, customerid: customerid, customername: customername, recordedby: recordedby, date: currentDate }
        })
        var jqaxhr = $.ajax({
          method: "GET",
          url: window.location.origin + "/getorderid/" + ordernumber
        })
          .done(function (data) {
            console.log("order", data)
          })
        var status = "Canceled"
        tenderedcash = prompt("Input Reason: ");
        $.ajax({
          type: "Post",
          url: "/approveorder",
          data: { orderid: ordernumber, status: status, comment: tenderedcash }
        })
          .done(function (data) {
            var p = $("#listorder").find("tr").length;

            for (var l = 0; l < p; l++) {

              var quantitits = $("#listorder").find("tr").eq(l).find("td").eq(3).text();
              var name = $("#listorder").find("tr").eq(l).find("td").eq(1).text();
              console.log("type", type)
              console.log("quantitits", quantitits)
              $.ajax({
                type: "Post",
                url: "/cancelorder",
                data: { pname: name, quantity: quantitits }
              })
                .done(function (data) {
                });
            }
          })
          .done(function (data) {
            alert('Order Canceled');
            window.location.href = "http://localhost:4000/";
          })
      })
      .fail(function (e) {
        alert('error')
      })
      .always(function () {
      })
  })

  function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], { type: "text/csv" });

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
  }

  function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");

      for (var j = 0; j < cols.length; j++)
        row.push(cols[j].innerText);

      csv.push(row.join(","));
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
  }


</script>