<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<script  src="js/index.js"></script>

	{%extends "adminpanel.html" %}
		{% block body %}
	<h1 class="title">Manage Products</h1>
<fieldset>

	<div id="container">
					<table class="icon-arrow" style="width:100%" align="center">
							<form action="/addproducts" method="get">
										
									</td>
									
								</tr>
								<tr>
									<td align="left">Product name:</td>
									
								</tr>
									<tr>
										<td>
									<input v-model="message" name ="tbproductname" placeholder="ex: Mineral water">
										</td>
										
									</tr>
									<tr>
									<td align="left">Product type:</td>
									
                                    </tr>
                                    
									<tr>
										<td>
                                                <label for="checkbox1">Rent</label>
                                            <input type="checkbox" id="checkbox1" onclick="setfalse1()">
                                            
										</td>
										
                                    </tr>
                                    <tr>
                                        <td>
                                                <label for="checkbox2">Sale</label>
                                            <input type="checkbox" id="checkbox2" onclick="setfalse2()">
                                        </td>
                                    </tr>
									<tr>
										<td align="left">Product Rent Price</td>
									</tr>
									<tr>
											<td><input type="message" name="tbrentprice" id="rp" placeholder="ex:$$$/week" readonly="true"></td>
											
                                    </tr>
                                    <tr>
                                            <td align="left">Product Sale Price</td>
                                            
                                        </tr>
                                        <tr>
                                                <td><input type="message" name="tbsaleprice" id="sp" placeholder="ex:$$$" readonly="true"></td>
                                                
                                        </tr>
										
										
									
									</tr>
									<tr>

										<td align="left">
											<input id="btnAdd" type="submit" value="Add Products">
										</td>
									
									</tr>
							</form>
                        </table>
                    </div>

	</fieldset>

            

{% endblock %}

