<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<div class="tb">
<div class="container">
		{% block body %}

	<h1 class="title">TWO CLEAR</h1>
<fieldset>
		
		<form action="/adminpanel">
			<input id="return" type="submit" value="Back">
			</form>
			<div class="container">
					<tr>
						<table class="icon-arrow" style="width:100%" align="center">
								<form action="/recordstockin" method="post">											
										
									<tr>
										<td align="left">Stock In:</td>
										
									</tr>
										<tr>
											<td>
										<input v-model="message" name ="tbstockin" placeholder="Enter Stock In Amount:">
											</td>
											
										</tr>
	
		<td align="left">
		<input id="btnAdd" type="submit" value="STOCK IN">
		</form>
	</tr>
		</td>
	
</fieldset>

            <script  src="js/index.js"></script>
{% endblock %}
</div>
</div>
