<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/static/style.css" type="text/css">

<div class="tb">
<div class="container">
	{%extends "home.html" %}
		{% block body %}
	<h1 class="title">Deliver:</h1>
<fieldset>

	<fieldset>
		<div class="table">
	
			<table class="tb" style="width:100%" align="center">
	
				<form action="/Deliver" /form>
				<th> <input value="Deliver" type="submit"></th>
				</form>
	
				<form action="/Return" /form>		
					<th> <input value="Return" type="submit"></th>
					</form>
	
	
				</table>
	
	</fieldset>

            <script  src="js/index.js"></script>
{% endblock %}
</div>
</div>
