<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2clear</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <script type="text/javascript" src="/static/plugins/jQuery/jQuery.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">



  <div class="wrapper">

    <header class="main-header">
      <a class="logo">
        <span class="logo-mini">
          <b>A</b>LT</span>
        <span class="logo-lg">
          <b>2</b>Clear</span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
              <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">
                <i class=" fa-sign-out"></i>
                <span class="label label-danger">Log-out</span>
              </a>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p id="user">{{session.name}}</p>
            <a><i class="fa fa-circle text-success"></i> Online</a>
            <input type="hidden" readonly="true" id="role" class="form-control" hide="true" value="{{session.role}}">
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">

          <ul class="fixed sidebar-menu">

            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Transactions</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="active">
                  <a href="/transactions" >
                    <i class="fa fa-circle-o"></i> Add Order</a>
                </li>
                <li>
                  <a href="/vieworders">
                    <i class="fa fa-circle-o"></i>View Orders</a>
                </li>

              </ul>

        </form>
      </section>
    </aside>

    <div class="content-wrapper">

      <section class="content">
        <h1> Order Registration
          <small>2clear</small>
        </h1>
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3 id="transactioncount">00</h3>

                <p>Transactions</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="transactions " class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3 id="userregistration">00</h3>

                <p>Customer Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/registrations" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>2
                  <sup style="font-size: 20px">clear</sup>
                </h3>

                <p>Inventory</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/products" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>65</h3>

                <p>Admin Panel</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a id="apanel" href="/admin" class="small-box-footer">Go
                <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- #Order -->


        <div class="row">
          <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h2>Product List</h2>
              </div>
              <div class="box-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Type</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="ProductList">
                    {% for row in products %}
                    <tr>

                      <td class="id">{{ row.id }}</td>
                      <td class="type">{{ row.ptype }}</td>
                      <td class="name">{{ row.pname }}</td>
                      <td class="price" data-price="{{ row.pprice }}">{{ row.pprice }} Pesos</td>
                      <td class="quantity">{{ row.quantity }}</td>
                      <td>
                        <a class="btn btn-primary add-to-cart" name="enteramount">
                          <i class="fa fa-check" id={ { row.id }}></i>Add to Cart</a>
                      </td>
                      {% else %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- CUSTOMER CART -->

          <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h2>Customer Cart</h2>
              </div>
              <div class="box-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Type</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Sub total</th>
                      <td></td>

                    </tr>
                  </thead>
                  <tbody id="myCart">
                    <tr id="cart-empty">
                      <td></td>
                      <td>Cart is Empty.</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th>Total bill: Php</th>
                      <th id="total_bill"></th>
                      <th></th>
                      <th></th>
                      <th>
                        <a id="checkout" class="btn btn-primary">checkout
                          <i class="fa fa-money"></i>
                        </a>
                      </th>

                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">

  $(function () {
    $('.add-to-cart').on('click', function (e) {
      e.preventDefault();

      var quantity = $(this).closest('td').siblings('td.quantity').text();
      orderquantity = prompt('Quantity (maximum of ' + quantity + '):'),
        number_only = /^\d+$/;
      // console.log(orderquantity)

      if (number_only.test(orderquantity)) {

        if (orderquantity <= parseInt(quantity)) {

          var id = $(this).closest('td').siblings('td.id').text()

          var validate = [];
          $('.item-id').each(function () {
            var ids = $(this).text();

            if (ids == id) {
              validate.push(ids);
              return false;
            }
          });

          var price = $(this).closest('td').siblings('td.price').data('price');
          var sub_total = parseFloat(price) * orderquantity;
          var product_name = $(this).closest('td').siblings('td.name').text()
          var type = $(this).closest('td').siblings('td.type').text()
          console.log({ id: id, price: price, sub_total: sub_total, product_name: product_name, type: type })
          $('#cart-empty').remove();

          if (validate.length >= 1) {

            $('.item-id').each(function () {
              var ids = $(this).text();

              if (ids == id) {
                // thsi updates the quantity of the selected item
                var q1 = $(this).closest('td').siblings('td.order_quantity').text();
                $(this).closest('td').siblings('td.order_quantity').html(parseInt(q1) + parseInt(orderquantity));

                var st1 = $(this).closest('td').siblings('td.sub_total').text();
                $(this).closest('td').siblings('td.sub_total').html(parseFloat(st1) + sub_total);
                return false;
              }
            });

          } else {
            $('#myCart').append('<tr><td class="item-id">' + id + '</td><td>' + type + '</td><td>' + product_name + '</td><td>' + price + '</td><td class="order_quantity">' + orderquantity + '</td><td class="sub_total">' + sub_total + '</td><td><a class="remove"><i class="fa fa-remove"></i></a></td></tr>');

            var Quant = $(this).closest('td').siblings('td.quantity').text();
            $(this).closest('td').siblings('td.quantity').html(parseInt(Quant) - parseInt(orderquantity));

          }
          var totalQuantity = 0;
          $(".sub_total").each(function () {
            totalQuantity += parseInt($(this).text());
            $("#total_bill").text(totalQuantity);

          });

        } else {
          alert('Invalid quantity, the number of items you encoded exceeds the available on hand items.');
        }

      } else {
        alert('Invalid Input, the prompt only accepts numbers');
      }
    });

    $(document).on('click', '.remove', function (e) {
      e.preventDefault();
      var sub_total = $(this).closest('td').siblings('td.sub_total').text();
      var Quant = $(this).closest('td').siblings('td.order_quantity').text();
 
      var id = $(this).closest('td').siblings('td.item-id').text();
 
      $(this).closest('tr').remove();
      var total_bill = parseFloat($("#total_bill").text());
      var new_total = total_bill - parseFloat(sub_total);
      $('#total_bill').text(new_total);

      $('#ProductList').find('tr').each(function(idx, row) {
        var product_id = $(row).find('.id').text();
        if( product_id == id ) {
          
          productquantity = $(row).find('td.quantity').text()

          $(row).find('td.quantity').html(parseInt(Quant) + parseInt(productquantity));


        }
      })
    });
    if ($('#role').val() == "admin")
  {
    $('#apanel').show();
  }
  else
  {
    $('#apanel').hide();
  }
  });

</script>